.portfolio-item-detail {
  text-align: center;

  h1 {
    font-size: 3.5em;
    font-weight: 400;
    margin: 50px 0;
    color: #444444;
    text-wrap: pretty;
  }

  .content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio-images {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    img {
      width: 100%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
    }
  }
}

.info-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f9f2fb;
  padding: 20px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;

  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .info-text {
    text-align: center;

    h2 {
      font-size: 2em;
      font-weight: 400;
      color: #444;
      margin: 0;
    }
  }

  .social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #444;
    font-size: 1em;

    img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }

    span {
      color: #444;
    }

    &:hover {
      color: #666;
    }
  }
}

.back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 30px auto;
  padding-bottom: 30px;
  cursor: pointer;
  color: #999999;
  font-size: 1.5em;
  transition: color 0.3s;

  img {
    width: 16px;
    margin-right: 8px;
  }

  &:hover {
    color: #666666;
  }
}

.error {
  text-align: center;
  font-size: 1.2em;
  color: red;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .portfolio-item-detail h1 {
    font-size: 2.5em;

  }

  .portfolio-images img {
    margin: 0 20px;
    width: auto;
    max-width: calc(100% - 40px);
  }
}
