<section class="about">
  <h1>{{ title }}</h1>
  <div class="description" [innerHTML]="description"></div>

  <div class="social-icons">
    <a href="https://t.me/sonnnneiko" target="_blank">
      <img src="assets/icons/telegram-icon.svg" alt="Telegram">
    </a>
    <a href="https://www.behance.net/sofialkhazova" target="_blank">
      <img src="assets/icons/behance-icon.svg" alt="Behance">
    </a>
    <a href="https://www.youtube.com/@Sonnneiko" target="_blank">
      <img src="assets/icons/youtube-icon.svg" alt="YouTube">
    </a>
    <a href="mailto:rey04@internet.ru">
      <img src="assets/icons/email-icon.svg" alt="Email">
    </a>
  </div>
</section>
